* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.gray {
  color: #9fa4a6;
}

.container {
  padding: 0 60px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-1 {
  flex: 8.3% 1 1;
}

.col-2 {
  flex: 16.6% 1 1;
}

.col-3 {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 1;
}

.col-5 {
  flex: 41.6% 1 1;
}

.col-4 {
  flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
}

.col-6 {
  flex: 50% 1 1;
}

.col-6 {
  flex-basis: 16.6%;
  flex-grow: 1;
  flex-shrink: 1;
}

.col-7 {
  flex: 58.3% 1 1;
}

.col-8 {
  flex: 66.6% 1 1;
}

.col-9 {
  flex: 75% 1 1;
}

.col-10 {
  flex: 83% 1 1;
}

.col-11 {
  flex: 91.6% 1 1;
}

.col-12 {
  flex: 100% 1 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #283337;
}

.size-s {
  font-size: 11px;
}
.size-ss {
  font-size: 16px;
}
.size-ssa {
  font-size: 17px;
}
.size-ssaa {
  font-size: 18px;
}
.size-sss {
  font-size: 21px;
}
.size-5 {
  font-size: 33px;
}

.underline {
  text-decoration: underline;
}

span {
  font-size: 17px;
  font-weight: 700;
}

h1,
h2 {
  font-size: 60px;
  font-family: "Times New Roman";
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 32px;
}

a,
p {
  color: #40494d;
  font-family: "Arial";
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 40px;
}

.nav-links {
  margin-left: auto;
}

.nav-links a {
  font-size: 16px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  padding: 5px 20px;
}

.search {
  background-color: white;
  border: solid 1px #283337;
  border-radius: 50%;
  padding: 10px 13px;
  margin-right: 10px;
  height: 45px;
}

.btn-dark {
  background-color: #283337;
  border-radius: 56px;
  color: white;
  font-size: 17px;
  font-family: "Arial";
  padding: 10px 15px;
  border: none;
  height: 45px;
}

.mlbb-btn {
  margin-left: 110px;
}

#checkbox-toggle {
  display: none;
}

button,
a,
li,
span {
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburger-line {
  background-color: #283337;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
  background-color: #283337;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}

.hamburger-line::before {
  top: 7px;
}

.hamburger-line::after {
  top: -7px;
}

@media (max-width: 890px) {
  .menu {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: white;
    text-align: center;
    right: 0;
    left: 0;
    border-bottom: solid 5px white;
  }

  .menu li a {
    color: #283337;
    display: block;
    padding: 5px;
  }

  .menu li {
    transition: all 0.3s;
  }

  .menu li:hover {
    background-color: rgba(166, 169, 255, 0.795);
    color: #283337;
  }

  #checkbox-toggle:checked ~ .menu {
    display: block;
    max-height: 100%;
    transition: all 0.5s;
  }

  .hamburger {
    display: block;
    padding: 20px 0;
  }

  #checkbox-toggle:checked ~ .hamburger .hamburger-line {
    background-color: transparent;
  }

  #checkbox-toggle:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #checkbox-toggle:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

@media (max-width: 980px) {
  .mlbb-btn {
    margin-left: 20px;
  }
}

header {
  background-color: #ededed;
  padding: 250px 0 220px 0;
}

.btn-darck {
  background-color: #283337;
  border-radius: 56px;
  color: white;
  font-size: 17px;
  font-family: "Arial";
  padding: 10px 30px;
  border: none;
  height: 45px;
}

.br {
  margin-top: 220px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 1160px) {
  .container {
    text-align: center;
  }
  header {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .br {
    margin-top: 100px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@media (max-width: 730px) {
  .header-img {
    width: 100%;
  }
  .br {
    margin-top: 100px;
  }
  header {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

.text-end {
  display: flex;
  justify-content: end;
}

.product {
  padding: 90px 40px;
}

.card {
  background-color: #ededed;
  padding: 64px;
}

@media (max-width: 1440px) and (min-width: 320px) {
  .product .row {
    align-items: normal;
  }
  .product .box-1 {
    margin-top: -40px;
  }
}

@media (max-width: 1160px) and (min-width: 320px) {
  .text-end {
    display: flex;
    justify-content: center;
  }
  .product .box-1 {
    margin-top: 100px;
  }
}

@media (max-width: 690px) {
  .product {
    padding: 90px 20px;
  }
  .product .card {
    padding: 60px 50px;
  }
  .product br {
    display: none;
  }
}

@media (max-width: 431px) {
  .product {
    padding: 90px 0;
  }
  .container {
    padding: 0 2px;
  }
}

.results {
  padding: 150px 0;
  background-color: #ededed;
  text-align: center;
}

@media (max-width: 1160px) {
  .results .row {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1000px) {
  .results .row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column-reverse;
  }
}

.built {
  text-align: center;
  padding-bottom: 150px;
}

@media (max-width: 1160px) and (min-width: 850px) {
  .built .row {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
  }
  .built {
    padding-bottom: 60px;
  }
}

.built img {
  margin-bottom: 50px;
}

.footercap {
  text-align: center;
  background-color: #ededed;
  padding: 80px 0 150px 0;
}

.kion {
  padding: 250px 0 130px 0;
}

video {
  width: 90%;
}

@media (min-width: 1161px) {
  .kion li {
    padding-left: 30px;
  }
}

.white {
  color: #cfd2d3;
}

footer {
  width: 100%;
  background-color: #101c21;
  color: white;
  padding: 80px 0 40px 0;
}

footer .footer-box-1 li {
  margin: 15px 0;
}

footer .footer-box-1 button {
  margin-top: 15px;
  margin-bottom: 150px;
}

footer .footer-box-1 .icon a {
  margin: 0 12px;
}
